/* ResultModal.css */
.modal-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal1 {
    background: white;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
} 
.rx {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal-header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  
  .emo {
    width: 100px;
    height: 100px;
  }
}

.modal-body1 {
  text-align: center;
}

.modal-body1 p {
  margin-bottom: 35px;
  white-space: pre-line;
  line-height: 1.5; /* 줄 간격을 설정해 가독성을 높입니다. */
}

.hidden {
  display: none;
}
