.PageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.Container{
    background-color: white;
    padding: 0 20px 20px 20px;
    border-radius: 16px;
    width:50%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.TopContainer{
    margin-bottom: 20px;
}

.TopContainer img{
    width: 200px;
}

.TopContainer h1{
    font-size: 24px;
    color:#007bff;
    margin:0 0 20px 0;
}

.BottomContainer{

}

.Text1{
    font-size: 18px;
    color:#007bff;
    margin-bottom: 20px;
}

.LoginBtnGroup{
    display: flex;
    width:300px;
    margin:10px auto;
    padding:0 20px;
    border-radius: 10px;
    background-color: #ffde00;
    cursor:pointer;
    height: 52px;
    justify-content: center;
    align-items: center;
}

.LoginBtnGroup img{
    width:32px;
    margin-right: 12px;
}

.LoginBtn{
    color:#3c1e1e;
    font-size: 20px;
    font-weight: 600;
}

.NoLoginLink{
    margin-top: 20px;
    font-size: 16px;
    color:#666
}