.MainContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Start{
    margin-bottom: 20px;
    padding:20px;
    border: 1px solid;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.RecordGo{
    padding:20px;
    border: 1px solid;
    border-radius: 8px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}