.RecordModalBack{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease;
    z-index: 1000; /* RecordModalBack의 z-index를 낮게 설정 */
}

@keyframes fadeIn{
    from{
        background-color: rgba(0,0,0,0);
    }
    to{
        background-color: rgba(0,0,0,0.5);
    }
}

.RecordModalContainer{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    animation: slideIn 0.3s ease;
    height: 180px;
}

@keyframes slideIn{
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.RecordModalContainer p{
    margin:0;
    font-size:20px;
    color:#333;
}

.AudioDisplay{
    margin:24px 0;
    padding:12px;
    border:2px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    height:28px;
    font-size: 16px;
    color:#555;
}

.AudioDisplay span{
    margin-left:auto;
}

.PlayButton{
    width:24px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.PlayButton:active{
    transform: scale(0.9);
}

.ButtonBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    height: 68px;
    vertical-align: text-bottom;
}

.CancelButton{
    border:none;
    background-color: #ffffff;
    color:black;
    font-size: 16px;
    margin-bottom: 0;
    vertical-align: bottom;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}

.CancelButton:hover{
    color:#ff4d4d
}

.RecordStartButton,
.RecordStopButton,
.RecordResetButton {
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.RecordStartButton:active,
.RecordStopButton:active,
.RecordResetButton:active {
    transform: scale(0.9);
}

.RecordStartButton{
    width:60px;
    height:60px;
    /* border: 2px solid #1B83Fc; */
    /* border-radius: 90px; */
}

.RecordStopButton{
    width:44px;
    height:44px;
    /* border: 2px solid #1B83Fc; */
    /* border-radius: 90px; */
}

.RecordResetButton{
    height:28px;
    margin-bottom: 0;
}

.SendButton{
    height: 28px;
    margin-bottom: 0;
    background-color: #1B83Fc;
    border:4px solid #1B83Fc;
    border-radius: 90px;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.SendButton:active {
    transform: scale(0.9);
}

.SendButton[disabled] {
    background-color: #a0c4ff; /* 활성화되지 않았을 때 */
    border: 4px solid #a0c4ff;
    cursor: not-allowed;
}

.Transcript {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    max-height: 100px;
    overflow-y: auto;
}