   /* 기존 스타일들 */
   .sidebar{
    
    border-right: 1px solid #ECECEC;
    background-color: #1B83FC;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-img {
        width: 50px; /* 원하는 크기로 설정 */
        height: auto; /* 비율을 유지하고 싶다면 auto로 설정 */
        margin: 18px 0;
        padding: 0px;
    }
}

.sidebar-icon{
    width: 30px;
    height: 30px;
    padding: 15px 35px;
    cursor: pointer;
}

/* 선택된 아이콘에 대한 스타일 */
.sidebar-icon.active path {
    fill: #1B83FC;
  }
  
/* 선택된 아이콘에 대한 스타일 */
.sidebar-icon.active circle {
    fill: #1B83FC;
  }
  
.sidebar-icon.active{
    background-color: white;
}
  /* 기본 상태 아이콘 스타일 */
  .sidebar-icon path {
    fill: white;
  }
  
.sidebar-icon:hover {
    background-color: #61abff;
  }
.my {
    flex: 1;
    border-right: 1px solid #ECECEC;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.my .navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #ECECEC;
    top:0;
    z-index: 1;
}
.my-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 120%;
}
.my-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.my-profile span {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.mee {
    position: absolute;
    bottom: 0;
    left: 50%; /* 중앙 정렬을 위해 추가 */
    transform: translateX(-50%); /* 중앙 정렬을 위해 추가 */
    display: flex;
}
.me,
.tnwjd {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 50px;
}
.me img,
.tnwjd img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.me span,
.tnwjd span {
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 50px;
}
.list{
    flex: 1;
    border-right: 1px solid #ECECEC;
    background-color: #fff;
    position: relative;
}
.list .navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #ECECEC;
}
.list .f-a{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.chat{
    flex: 2;
    background-color: #ffffff;
}
.chat .chatInfo{
    height: 50px;
    background-color: #1B83FC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}
.chat .chatInfo span{
    color: rgb(255, 255, 255);
}
.chat .chatInfo .ix{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.messages{
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ECECEC;
    height: calc(100% - 160px);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.messages::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}
.messageImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.message{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.message .messageTime {
    font-size: 0.8em; /* 글씨 크기를 작게 설정 */
    color: #888; /* 선택 사항: 색상을 더 연하게 설정 */
}              
.message .messageInfo{
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
}
.message .messageInfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.message .messageContent{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.message .messageContent p{
    background-color: rgb(226 225 225);
    padding: 10px 10px;
    border-radius: 0px 10px 10px 10px;
    max-width: max-content;
    color: black;
}
.message .messageContent img{
    width: 100px;
}
.message.owner{
    flex-direction: row-reverse;
}
.message.owner .messageContent{
    align-items: flex-end;
}
.message.owner .messageContent p{
    background-color: #1B83FC;
    color: white;
    border-radius: 10px 0px 10px 10px;
}
.input{
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input input[type="text"]{
    width: 80%;
    border: none;
    outline: none;
    font-size: 20px; /* 글씨 크기를 더 크게 설정 */
    padding: 10px; /* 더 나은 간격을 위해 패딩 추가 */
}
.input .send{
    display: flex;
    align-items: center;
    gap: 10px;
}
.input .send .ip, .input .send .im{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.input .send .sb{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #1B83FC;
    display: flex;
    border-radius: 15%;
}
.search{
    border-bottom: 1px solid gray;
    background-color: #fff;
}
.search input[type="text"]{
    background-color: transparent;
    border: none;
    color: black;
}
.searchForm{
    padding: 10px;
}
::placeholder{
    color: lightgray;
}
.users{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;  
}
.users img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.users:hover{
    background-color:rgb(235, 235, 235);
}
.userChatInfo span{
    font-size: 18px;
    font-weight: normal;
}
.userChatInfo p{
    font-size: 14px;
    color: rgb(79, 79, 79);
    max-height: 50px; /* 원하는 높이로 조정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */

      
}
/* Start.jsx */
.start{
    flex: 2;
    background-color: #c4c4c4;
}
.start .start1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* 텍스트 중앙 정렬 */
}
.start .start1 img {
    width: 50%; /* 원하는 크기로 설정, 예: 150px */
    height: auto; /* 이미지 비율을 유지 */
    margin-bottom: 20px; /* 이미지와 텍스트 사이의 간격 조절 */
    margin-top: 20%;
}
.start .start1 h1{
    font-family: "Cafe24Ssurround";
    color: white;
}
/* ChatList.jsx */
.chatlist{
    flex: 1;
    border-right: 1px solid #ECECEC;
    background-color: #cbcbcb;
    position: relative;
}
.chatlist .navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #ECECEC;
    background-color: #ffffff;
}
.chatlist .c-a{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.chatlist .userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #ffffff;
    margin:10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), /* 위쪽 그림자 */
    0 -4px 10px rgba(0, 0, 0, 0.1), /* 아래쪽 그림자 */
    4px 0 10px rgba(0, 0, 0, 0.1), /* 오른쪽 그림자 */
    -4px 0 10px rgba(0, 0, 0, 0.1); /* 왼쪽 그림자 */
}
.chatlist .userChat .ipro{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.chatlist .userChat .messageTime {
    font-size: 0.8em;
    color: gray;
}
.chatlist .userChat:hover{
    background-color:rgb(235, 235, 235);
}
/* ChatStart.jsx */
.chatstart{
    flex: 2;
    background-color: #ffffff;
}
.chatstart .c-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* 텍스트 중앙 정렬 */
}
.chatstart .c-s .ic {
    width: 35%; /* 원하는 크기로 설정, 예: 150px */
    height: auto; /* 이미지 비율을 유지 */
    margin-bottom: 20px; /* 이미지와 텍스트 사이의 간격 조절 */
    margin-top: 20%;
}
.chatstart .c-s h1{
    font-family: "Cafe24Ssurround";
    color: #1B83FC;
}
.searchForm input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;
    font-size: 16px; 
    transition: width 1s, padding 0.5s, border 0.5s, font-size 0.5s; 
}

.searchForm input[type="text"]:focus {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    transition: width 1s, padding 0.5s, border 0.5s, font-size 0.5s;
}
